<article class="details">
  <div class="section-name">Product Details</div>
  <h3>{{ details().title }}</h3>
  <ul class="detail-list">
    <li *ngFor="let detail of details().data">
      <img src="assets/images/icons/{{ mediaMap()[detail.iconTarget] }}" alt="Icon {{ detail.text }}" />
      <div class="detail-name">{{ detail.title }}</div>
      <div class="detail-value">{{ detail.text }}</div>
    </li>
  </ul>
  <div class="detail-image">
    <img src="assets/images/img/{{ mediaMap()['detail-1'] }}" alt="Product detail" >
  </div>
</article>
