@use 'mixins/viewport' as vp;

.section-name {
  color: var(--color-accent);
}

.detail-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: flex;
    flex: 0 0 100%;

    @include vp.sm {
      flex: 0 0 50%;
    }
  }
}
