@use 'common' as *;

.section-name {
  color: $color-accent;
}

.detail {
  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      flex: 0 0 100%;

      @include md {
        flex: 0 0 50%;
      }
    }
  }

  &-image {
    img {
      max-width: 100%;
    }
  }
}
