<article class="specifications">
  <div class="section-name">Specifications</div>
  <h3>{{ specifications().title }}</h3>
  <ul class="detail-list">
    <li *ngFor="let detail of specifications().data" class="detail-list-item">
      <div class="detail-list-icon">
        <img
          src="assets/images/icons/{{ mediaMap()[detail.iconTarget] }}"
          alt="Icon {{ detail.text }}"
        />
      </div>
      <div class="detail-list-name">{{ detail.title }}</div>
      <div class="detail-list-value">{{ detail.text }}</div>
    </li>
  </ul>
  <div class="detail-image">
    <img src="assets/images/img/{{ mediaMap()['detail-2'] }}" alt="Product specifications" />
  </div>
</article>
