<header>
  <app-nav></app-nav>

  <div class="top-menu">
    <ul class="top-menu left">
      <li class="top-menu-item">
        <a title="Contact us" [routerLink]="['/contact']">
          <span class="sr-only"> Contact us </span>
          <img src="assets/images/icons/Contact.png" alt="Contact icon" />
        </a>
      </li>
      <li class="top-menu-item">
        <a title="Stores" [routerLink]="['/stores']">
          <span class="sr-only"> Store locations </span>
          <img src="assets/images/icons/Stores.png" alt="Stores location icon" />
        </a>
      </li>
      <li class="top-menu-item">
        <button
          title="Language switcher"
          (click)="openLanguageSelector()"
          (keyup.space)="openLanguageSelector()"
        >
          <span class="sr-only"> Language </span>
          <img src="assets/images/icons/Language.png" alt="Language switcher icon" />
        </button>
      </li>
    </ul>

    <ul class="top-menu right">
      <li class="top-menu-item">
        <a title="To checkout" [routerLink]="['/basket']">
          <span class="sr-only"> Go to basket </span>
          <img src="assets/images/icons/bag.png" alt="Checkout icon" />
        </a>
      </li>
      <li class="top-menu-item">
        <a title="to wish list" [routerLink]="['/wish-list']">
          <span class="sr-only"> Wish list </span>
          <img src="assets/images/icons/wishlist.png" alt="wish-list icon" />
        </a>
      </li>
      <li class="top-menu-item">
        <a title="User profile" [routerLink]="['/profile']">
          <span class="sr-only"> User profile </span>
          <img src="assets/images/icons/Login.png" alt="Login icon" />
        </a>
      </li>
      <li class="top-menu-item">
        <button title="Search" (click)="openSearch()" (keyup.space)="openSearch()">
          <span class="sr-only"> Search </span>
          <img src="assets/images/icons/Search.png" alt="Search icon" />
        </button>
      </li>
    </ul>
  </div>
  <a class="brand" [routerLink]="['/']" title="To home">
    <img src="assets/images/logo/logo.png" alt="Logo: The Brand" />
    <div class="sr-only">To home of "The Brand" shop</div>
  </a>
</header>
