@use 'common' as *;

.lead {
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 1rem 0;

  @include in-viewports((
    md: (padding: 2rem 0, margin: 0 0.65rem),
    lg: (padding: 2rem 0, margin: 0 0.75rem),
    de: (padding: 2.5rem 0, margin: 0 0.875rem),
  ));

  &-images {
    flex: 0 0 100%;

    @include in-viewports((
      md: (flex: 0 0 50%),
      lg: (flex: 0 0 30rem, max-width: 45%),
      de: (flex: 0 0 40rem, max-width: 40%),
    ));
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;

    @include in-viewports((
      lg: (flex: 0 0 30rem, max-width: 45%),
      de: (flex: 0 0 40rem, max-width: 40%),
    ));
  }

  &-box {
    flex: 0 0 calc(100% - 3rem);
    margin: 0;

    @include in-viewports((
      md: (flex: 0 0 calc(100% - 2rem)),
      lg: (flex: 0 0 calc(100% - 1rem)),
      de: (flex: 0 0 calc(100% - 0.5rem)),
    ));
  }

  &-shift {
    padding-left: 3rem;
  }
}

.title {
  margin: 1.25rem 0;
  font-family: $font-serif;
  line-height: 1.2;
  font-size: 1.5rem;

  @include in-viewports((
    md: (font-size: 1.85rem, padding-right: 20%),
    lg: (font-size: 2rem, padding-right: 30%),
    de: (font-size: 2.15rem, padding-right: 40%),
    xl: (font-size: 2.25rem, padding-right: 50%),
  ));
}

.price {
  color: $color-accent;
  font: normal 1.5rem/1.1 $font-serif;
  margin: 0 0 1rem;
}

.type-sku {
  font: normal 0.65rem/2 $font-sans;
  color: #8c8c8c;
  margin: 0 0 0.5rem;
}

.short-description {
  font: normal 1.2rem/1.5 $font-serif;
  color: #8c8c8c;
  margin: 0 0 2rem;
  padding-right: 30%;
}

.add-to-cart {
  font: bold 1rem/1 $font-sans;
  border: none;
  background-color: $color-accent;
  color: #fff;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}
