<ul class="nav-list">
  <li class="nav-item">
    <a [routerLink]="['/watches']" routerLinkActive="active" title="Watches page" class="nav-link">
      Watches
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/jewellery']" routerLinkActive="active" title="Jewellery page" class="nav-link">
      Jewellery
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/wedding']" routerLinkActive="active" title="Wedding page" class="nav-link">
      Wedding
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/academy']" routerLinkActive="active" title="Academy page" class="nav-link">
      Academy
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/company']" routerLinkActive="active" title="Company page" class="nav-link">
      Company
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/stores']" routerLinkActive="active" title="Stores page" class="nav-link">
      Stores
    </a>
  </li>
</ul>
