.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: normal;
  padding: 0.5rem 1rem;
  display: block;
  text-transform: uppercase;

  &.active {
    color: #444;
    font-weight: bold;
  }
}
