@use 'common' as *;

.nav {
  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 5rem;
  }

  &-item {
    flex: 0 0 auto;
    height: 1rem;
    margin: 0;
    padding: 0;

    &:nth-child(3) {
      @include md {
        margin-right: 10rem;
      }

      @include lg {
        margin-right: 15rem;
      }

      @include xl {
        margin-right: 20rem;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: #222;
    padding: 0.5rem 1rem;
    display: block;
    text-transform: uppercase;
    font-family: $font-serif;
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: 0.1rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.active {
      color: #444;
      font-weight: bold;
    }
  }
}
