<article>
  <div class="lead-wrap">
    <div class="lead">
      <div class="category">{{ product().category }} Watches</div>
      <h2>{{ product().title }}</h2>
      <div class="price">
        {{ product().price?.priceFormatted }}
      </div>
      <div class="type-sku">Watch {{ product().sku }}</div>
      <div class="short-description">
        {{ product().shortDescription }}
      </div>
    </div>
    <app-images [galleryMedia]="galleryMedia()"></app-images>
  </div>
  <app-details [details]="product().productDetails" [mediaMap]="mediaMap"></app-details>
  <app-specifications
    [specifications]="product().productSpecifications"
    [mediaMap]="mediaMap"
  ></app-specifications>
</article>
