<article>
  <div class="lead">
    <app-images class="lead-images" [galleryMedia]="galleryMedia()"></app-images>
    <div class="lead-inner">
      <div class="lead-box">
        <div class="category">{{ product().category }} Watches</div>
        <h2 class="title">{{ product().title }}</h2>
        <div class="lead-shift">
          <div class="price">
            {{ product().price?.priceFormatted }}
          </div>
          <div class="type-sku">Watch {{ product().sku }}</div>
          <div class="short-description">
            {{ product().shortDescription }}
          </div>
          <button class="add-to-cart">Add to shopping bag</button>
        </div>
      </div>
    </div>
  </div>
  <app-details [details]="product().productDetails" [mediaMap]="mediaMap"></app-details>
  <app-specifications
    [specifications]="product().productSpecifications"
    [mediaMap]="mediaMap"
  ></app-specifications>
</article>
