/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Trade Gothic LT';
  font-style: normal;
  font-weight: normal;
  src:  url('./assets/fonts/Trade-Gothic-LT.woff2') format('woff2'),
        url('./assets/fonts/Trade-Gothic-LT.woff') format('woff');
}
@font-face {
  font-family: 'Trade Gothic LT';
  font-style: normal;
  font-weight: light;
  src:  url('./assets/fonts/Trade-Gothic-LT-Light.woff2') format('woff2'),
        url('./assets/fonts/Trade-Gothic-LT-Light.woff') format('woff');
}
@font-face {
  font-family: 'Trade Gothic LT';
  font-style: normal;
  font-weight: bold;
  src:  url('./assets/fonts/Trade-Gothic-LT-Bold.woff2') format('woff2'),
        url('./assets/fonts/Trade-Gothic-LT-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Minion Pro';
  font-style: normal;
  font-weight: normal;
  src:  url('./assets/fonts/Minion-Pro-Regular.woff2') format('woff2'),
        url('./assets/fonts/Minion-Pro-Regular.woff') format('woff');
}

html {
  font-size: 16px;
  font-family: 'Trade Gothic LT', sans-serif;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
