<section class="images">
  <ul class="selector">
    <li *ngFor="let image of galleryMedia(); let i = index" class="selector-item">
      <button (click)="selectImage(image)" (keyup.space)="selectImage(image)">
        <img src="assets/images/img/thumb_{{ image.path }}" alt="Gallery item {{ i + 1 }}" />
      </button>
    </li>
  </ul>
  <div class="selected-image">
    <img
      [src]="'assets/images/img/' + selected()?.path || galleryMedia().at(0)?.path"
      alt="Selected gallery image"
    />
  </div>
</section>
