@use 'common' as *;

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25rem;
  max-width: 100%;
  overflow: hidden;

  @include in-viewports(
    (
      md: (
        height: 30rem,
      ),
      lg: (
        height: 32.5rem,
      ),
      de: (
        height: 35rem,
      ),
      xl: (
        height: 40rem,
      ),
    )
  );
}

.selector {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &-item {
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
    text-align: right;

    button {
      border: none;
      background: #fff;
      padding: 0;
      margin: 0.25rem;
      width: 4rem;
    }

    img {
      opacity: 0.3;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    &.selected {
      img {
        opacity: 1;
      }
    }
  }
}

.image-display {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 97%;
    max-width: 95%;
  }
}
